@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
.header {
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 15;
  padding-inline: 1rem;
}
.header__logo {
  width: 5.625rem;
}
.header .header__btn-menu {
  width: 2rem;
  height: 1.25rem;
}
.header .header__btn-close {
  width: 1.6875rem;
  z-index: 3;
  display: none;
}
.header .rotate {
  transform: rotate(180deg);
}
.header .header__menu.active {
  display: block;
  width: 242px;
  height: 130vh;
  z-index: 2;
}
.header .header__menu {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: hsl(0, 0%, 98%);
  padding-top: 90px;
  transition: all 300ms ease-in-out;
  display: none;
}
.header .header__menu .header__menu__list {
  width: 15.125rem;
  margin-left: 1.5rem;
}
.header .header__menu .header__menu__list .header__menu__list__item {
  margin-bottom: 25px;
}
.header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__link {
  color: hsl(0, 0%, 41%);
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 20px;
}
.header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__link:hover {
  color: hsl(0, 0%, 8%);
}
.header .header__menu .header__menu__list .header__menu__list__sub-list--list1 {
  transition: all 3s ease;
}
.header .header__menu .header__menu__list .header__menu__list__sub-list--list2 {
  display: none;
}
.header .header__menu .header__menu__list__sub-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 1rem;
  display: none;
}
.header .header__menu .header__menu__list__sub-list__item {
  margin: 1.25rem 1rem;
}
.header .header__menu .header__menu__list__sub-list__item .header__menu__list__sub-list__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: hsl(0, 0%, 8%);
  transition: all 3s ease;
}
.header .header__menu .header__menu__list__sub-list__item .header__menu__list__sub-list__link img {
  width: 1.875rem;
}
.header .header__menu .header__menu__list__link--icon {
  position: relative;
  transition: all 0.3s;
}
.header .header__menu .header__menu__list__link--icon img {
  width: 12px;
  position: absolute;
  right: 130px;
  top: 5px;
}
.header .header__menu .header__login {
  margin-top: 2.5rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}
.header .header__menu .header__login .header__login__link {
  color: hsl(0, 0%, 41%);
}
.header .header__menu .header__login .header__login__link:hover {
  color: hsl(0, 0%, 8%);
}
.header .header__menu .header__login .header__login__link--border {
  border: 0.0625rem solid hsl(0, 0%, 8%);
  padding: 15px 20px;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 98%);
  margin-bottom: 124px;
}
.header .header__menu .header__login .header__login__link--border:hover {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px 40px;
  }
  .header__btn-menu {
    display: none;
  }
  .header .header__menu {
    width: 100%;
    height: 4.375rem;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    position: relative;
  }
  .header .header__menu .header__menu__list {
    width: fit-content;
    height: 4.375rem;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .header .header__menu .header__menu__list .header__menu__list__item {
    margin-bottom: 0;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__link {
    display: inline;
    font-size: 1.1em;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;
    background-color: hsl(0, 0%, 98%);
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    display: none;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list__item {
    margin: 0.3125rem 0;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list__item .header__menu__list__sub-list__link {
    flex-wrap: row;
    align-items: center;
    gap: 1rem;
    color: hsl(0, 0%, 8%);
    transition: all 100ms ease;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list__item .header__menu__list__sub-list__link img {
    width: 1rem;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list__item .header__menu__list__sub-list__link:hover {
    font-weight: 700;
    transform: scale(1, 1.1);
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list--list1 {
    width: 153px;
    height: 163px;
    left: -34px;
    transition: all 0.5s ease-in-out;
  }
  .header .header__menu .header__menu__list .header__menu__list__item .header__menu__list__sub-list--list2 {
    width: 119px;
    height: 132px;
    left: 8.5625rem;
  }
  .header .header__menu .header__menu__list__link--icon {
    position: relative;
    transition: all 0.3s;
  }
  .header .header__menu .header__menu__list__link--icon img {
    width: 12px;
    position: absolute;
    right: -1.5rem;
    top: 0.4rem;
  }
  .header .header__menu .header__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 0;
  }
  .header .header__menu .header__login .header__login__link--border {
    width: 6.5rem;
    margin-bottom: 0;
  }
}
.content__hero {
  width: 100%;
  height: 18.75rem;
  background-image: url("./assets/images/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.content .content__container__title {
  margin-top: 50px;
  font-size: 2em;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  text-align: center;
  margin-bottom: 2rem;
}
.content .content__container__text {
  font-size: 1em;
  font-weight: 400;
  color: hsl(0, 0%, 41%);
  line-height: 1.5rem;
  text-align: center;
  padding-inline: 1rem;
}
.content .content__container__btn {
  width: 137px;
  height: 48px;
  margin: 2rem auto;
  text-align: center;
  padding: 15px 1rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-weight: 700;
  font-size: 1em;
  border-radius: 1rem;
}
.content .content__container__btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
}
.content .content__container__brands {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.content .content__container__brands svg {
  transform: scale(0.8);
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 1440px;
    height: 700px;
    margin: 60px auto 80px auto;
    display: flex;
    padding-left: 164px;
  }
  .content .content__hero {
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/image-hero-desktop.png");
    background-size: contain;
    background-position: center;
    order: 1;
    margin-right: 134px;
  }
  .content .content__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .content .content__container__title {
    width: 85%;
    height: 7.9375rem;
    font-size: 4.063em;
    text-align: left;
    margin-bottom: 60px;
    margin-top: 96px;
    margin-left: 0;
    line-height: 67px;
  }
  .content .content__container__text {
    margin-top: 64px;
    width: 85%;
    text-align: start;
    font-size: 1.1em;
    padding-inline: 0;
  }
  .content .content__container__btn {
    width: 165px;
    height: 60px;
    text-align: center;
    padding: 1.25rem 1rem;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    font-size: 1em;
    border-radius: 1rem;
    margin: 30px 0;
    border: 1px solid transparent;
  }
  .content .content__container__btn:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
  }
  .content .content__container__brands {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 140px;
  }
  .content .content__container__brands svg {
    transform: scale(1);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 41%);
}
.attribution a {
  display: inline;
  color: hsl(0, 0%, 8%);
}

/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: v.$fontF;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Epilogue", sans-serif;
  color: var(--negro);
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}