@use '../base/var' as v;
.attribution {
  font-size: 11px;
  text-align: center;
  color:v.$Medium-Gray;

  &__brands {
    width: 100%;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    
    
  }
  
  & a {

    display: inline;
    color: v.$Almost-Black;
  }
}
