.attribution {
  &__brands {
    width: 100%;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
  }
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}
