@use "../base/var" as v;

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  padding-inline: 16px;

  &__logo {
    width: 90px;
  }

  .header__btn-menu {
    width: 32px;
    height: 20px;
    
  }
  .header__btn-close {
    width: 27px;
    z-index: 3;
    display: none;
  }

  .header__menu.active {
   display: block ;
    width: 15.125rem;
    height: 130vh;
    
  }
  .header__menu {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: v.$Almost-White;
    padding-top: 5.625rem;
    transition: all 300ms ease-in-out;
    display: none;
    

    .header__menu__list {
      width: 242px;
      margin-left: 24px;
      .header__menu__list__item {
        margin-bottom: 1.5625rem;
        .header__menu__list__link {
          color: v.$Almost-Black;
          font-size: 1.1em;
          font-weight: 700;
          margin-bottom: 1.25rem;
        }
        .header__menu__list__sub-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-block: 16px;

          &__item {
            margin: 20px 16px;
            .header__menu__list__sub-list__link {
              display: flex;
              align-items: center;
              gap: 16px;
              color: v.$Almost-Black;

              img {
                width: 30px;
              }
            }
          }
        }
      }
    }
    .header__menu__list__link--icon {
      position: relative;
      transition: all 0.3s;

      &::after {
        position: absolute;
        content: url("../../assets/images/icon-arrow-down.svg");
        top: 0rem;
        right: 9rem;
      }
    }
    .header__login {
      margin-top: 40px;
      padding-inline: 24px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: v.$Almost-Black;
      font-weight: 400;

      .header__login__link {
      }

      .header__login__link--border {
        border: 1px solid v.$Almost-Black;
        padding: 0.9375rem 1.25rem;
        width: 100%;
        text-align: center;
        border-radius: 16px;
        background-color: v.$Almost-White;
        margin-bottom: 7.75rem;
      }
    }
  }
}
